@import "tailwindcss";

@theme {
  --color-midnight-navy: #001A33;
  --color-brushed-gold: #C5A059;
  --color-off-white: #F9F9F9;
  
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-montserrat);
}

/* 
  Utility to use "zen" feeling which is just good spacing and typing 
  We will rely on Tailwind utilities.
*/
